<form (ngSubmit)="submit()" #customerForm="ngForm" noValidate>\
  <div class ="form-group">
    <input type="text" class="form-control" required
    [(ngModel)]="customer.lastName" name="lastName" #lastName="ngModel"/>
    <div [hidden]="lastName.pristine || lastName.valid">
      Last Name Required
    </div>
     </div>
     <div class ="form-group">
     <input type="text" class="form-control" required
    [(ngModel)]="customer.address" name="address" #address="ngModel"/>
    <div [hidden]="address.pristine || address.valid">
      address Required
    </div>
    </div>
    <button type="submit" [disabled]="customerForm.invalid">Update</button>
</form>